{%  extends "base.html" %}
{% block title %}Articles{% endblock title %}
{% block content %}
{% for posts in post %}
    <div class="post-card">
       
            <div>
                <span style="font-family: Poppins; color: aliceblue; font-weight: bold; text-align: center;">
                    {{posts.title}}
                </span>
            </div>
            <div>
                <span class="text-muted" style="color: aliceblue; text-align: center; font-size: small;"> by {{posts.author}} | {{posts.date}}</span>
            </div>
            &middot;
       
        <div style="text-align: center; font-family: Arial; font-weight:400; color: aliceblue;">
           <p> {{posts.body}} </p>
           <a href="{% url 'post_edit' posts.pk %}" class="btn btn-success" style="font-family: Poppins; font-weight: bold; text-decoration: none;">update</a>
           <a href="{% url 'post_detail' posts.pk %}"  class="btn btn-success" style="font-family: Poppins; font-weight: bold; text-decoration: none;">comment</a>
        </div>
    </div>
    <br/>
{% endfor %}
{% endblock content %}