{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block title %} Login {% endblock title %}
{% block content %} 
<div style="font-family: Poppins; color: aliceblue;">
    <div class="form-container">
    <h1 style="font-family: Poppins; font-weight: bold; color: aliceblue; font-size: 30px;"> Log In </h1>
      <form method="post"> 
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success ml-2" style="font-family: Poppins; font-weight: bold; color: aliceblue;
        ">Log in</button>
      </form>
      <div style="font-family: Poppins; font-weight: normal; color: aliceblue; margin-top: 10px;">
        <p> forgot your password <a href="{% url 'password_reset' %}" style="text-decoration: none;">reset password</a>
        </p>
      </div>
    </div>  
    
  </div>  
{% endblock content %}