{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Change Password {% endblock title %}
{% block content %}
    <div class="change">
        <h1 style="font-weight: bold; font-size: 30px; color:aliceblue"> Change Your Password </h1>
        <p style="font-family: Poppins; color: aliceblue;"> enter your old password and new password</p>
        <form action="" method="post" style="color: aliceblue;">
            {% csrf_token %}
            <div style="color: aliceblue;">
                {{form|crispy}}
            </div>
            <div style="text-align: center;">
            <button type="submit" class="btn btn-success" style=" font-family: Poppins; font-weight: bold;">change</button>
            </div>
        </form>
    </div>

{% endblock content %}